//
// Reset buttons and inputs
//

button {
  position: relative;
  padding: .25rem 1rem;
  margin: 0;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  background: none;
  border: .0625rem solid #ccc;
  border-radius: .25rem;
  -webkit-appearance: none;

  &:not(:disabled) {
    &:hover,
    &:focus,
    &:active,
    &[active] {
      color: #fff;
      background-color: rgba(0,0,255,.65);
      border-color: rgba(0,0,255,.65);
    }
  }
}


//
// Reset inputs
//

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: .25rem .7rem;
  margin: 0;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fafafa;
  border: .0625rem solid #ccc;
  border-radius: .25rem;
  box-shadow: inset 0 .125rem .125rem rgba(0,0,0,.1);

  &:not(:disabled):focus {
    background-color: #fff;
    border-color: rgba(0,0,255,.75);
    box-shadow: inset 0 .125rem .125rem rgba(0,0,0,.1), 0 0 .3rem rgba(0,0,255,.25);
    outline: 0;
  }
}


//
// Form groups
//

formgroup {
  display: block;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  > label {
    // Force them to be stacked without declaring `display: block`
    &:after {
      display: block;
      content: "";
      margin-bottom: .25rem;
    }

    > input[type="radio"],
    > input[type="checkbox"] {
      margin-left: -1rem;
      vertical-align: text-top;
    }
  }
}


//
// Grid
//

row {
  display: block;
  margin: 1rem -1rem;

  // Clearfix
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Columns
column {
  position: relative;
  float: left;
  padding: .5rem 1rem;
  background-color: rgba(255,0,0,.15);
  border: .0625rem solid rgba(255,0,0,.15);

  &[cols="2"]  { width: 16.666666%; }
  &[cols="3"]  { width: 25%; }
  &[cols="4"]  { width: 33.333333%; }
  &[cols="6"]  { width: 50%; }
  &[cols="8"]  { width: 66.666666%; }
  &[cols="9"]  { width: 75%; }
  &[cols="10"] { width: 83.333333%; }
}


//
// Alerts
//

alert {
  position: relative;
  display: block;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #fff;
  border: .0625rem solid rgba(0,0,0,.15);
  border-radius: .25rem;

  > p {
    margin-bottom: 0;
  }

  &[is="info"] {
    background-color: rgba(0,0,255,.075);
    border-color: rgba(0,0,255,.2);
  }

  &[is="warning"] {
    background-color: rgba(255,204,0,.15);
  }

  &[is="danger"] {
    background-color: rgba(255,0,0,.15);
  }

  &[is="dismissable"] {
    padding-right: 2rem;
  }
}


//
// Dropdowns
//

dropdown {
  display: block;
  max-width: 14rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-top: .25rem;
  border: .0625rem solid rgba(0,0,0,.2);
  border-radius: .25rem;
  box-shadow: 0 .15rem .5rem rgba(0,0,0,.1);

  > button {
    display: block;
    width: 100%;
    text-align: left;
    border: 0;
    border-radius: 0;

    &:not(:disabled) {
      &:hover,
      &:focus,
      &:active {
        color: #fff;
        background-color: rgba(0,0,255,.65);
      }
    }
  }

  > hr {
    margin: .25rem 0;
  }

  > form {
    padding-right: .25rem;
    padding-left: .25rem;
  }
}


//
// Combo buttons
//

combo-button {
  display: inline-block;

  > button {
    float: left;
    border-radius: 0;

    + button {
      margin-left: -.0625rem;
    }

    &:first-child {
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
    }

    &:last-child {
      border-top-right-radius: .25rem;
      border-bottom-right-radius: .25rem;
    }

    &:not(:disabled) {
      &:hover,
      &:focus,
      &:active {
        z-index: 1;
      }
    }
  }
}


//
// Breadcrumb
//

breadcrumb {
  display: block;
  margin: 1rem 0;

  > a {
    display: inline-block;

    + a:before {
      display: inline-block;
      padding-right: .25rem;
      padding-left: .5rem;
      color: #ccc;
      content: "/ \00a0";
    }

    &:last-child {
      color: #333;
      text-decoration: none;
    }
  }
}
